/* COMMON */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4; /*-- 줄높이 --*/
  font-family: 'Nanum Gothic', sans-serif;
  height: 3000px;
  background-color: 	#d6d6db;
}
a {
  text-decoration: none;
}
.inner { /* inner란 요소를 가운데로 몰아주는 역할을 한다.*/
  width: 1100px;
  margin: 0 auto;
  position: relative; /* inner라는 클래스를 가진 모든 요소는 relative를 가짐으로 따로 추가할 필요가 없다 참고*/
}
a.deco {
  text-decoration: dashed;
}

/* HEADER */
header {
  width: 100%;
  position: fixed;
  background-color: #74767a;
  top: 0;
  opacity: 0.5;
  z-index: 9;
}
header > .inner {
  height: 50px;
}
header .logo {
  position: absolute;
  top: 19%;
  bottom: 0;
  margin: auto;
  color: black;
  font-weight: 700;
  font-size: 20px;
}
header .logo:hover {
  color: white;
}
header .main-menu {
  position: absolute;
  top: 10%;
  left: 19%;
}
header .main-menu ul.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .main-menu ul.menu .item {
  position: relative;
}
header .main-menu ul.menu .item::before {
  content: "";
  width: 1px;
  height: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #7c7c7c;
}
header .main-menu ul.menu .item a {
  display: block;
  padding: 11px 50px;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 13px;
}
header .main-menu ul.menu .item a:hover {
color: white;
}

/* SUMMARY */
.summary {
  margin-top: 50px;
  height: 400px;
}
.summary .inner {

}
.summary .inner .sum {
  position: absolute;
  top: 90px;
  left: 25%;
}
.summary .inner .sum h1 {
  font-size: 40px;
  font-weight: 700;
  display: block;
  margin-left: 200px;
  line-height: 100px;
}
.summary .inner .sum p{
  font-size: 16px;
}

/* PROJECT */
.project {

}
.project .inner {
    line-height: 50px;
}
.project .inner h1 {
  font-weight: 700;
  font-size: 40px;
}
.project .inner p {
  font-size: 13px;
}
.project .inner .list {
  background-color: white;
  width: 100%;
  height: 400px;
  outline: none;
  border-radius: 2px;
  box-shadow: 0px 0px 20px 10px rgba(0,0,0,.05);
  position: absolute;
  top: 120px;
}
.project .inner .list table {
  width: 100%;
}
.project .inner .list table th {

}










/* CONCAT */
/* .profile {
  margin-top: 1000px;
  height: 400px;
}
.profile .inner {
  width: 600px;
  height: 333px;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0,0,0,.15);
  position: absolute;
  top: 100px;
  left: 28%;
  display: flex;
}
.profile .inner .info {
  height: 30px;
  position: absolute;
  top: 10%;
  left: 23%;
  margin: auto;
}
.profile .inner .info h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 40px;
}
.profile .inner .info p {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 10px;
  color: #7c7c7c;
  letter-spacing: 12px;
}
.profile .inner .bini {
  width: 140px;
  height: 140px;
  border: 0px solid;
  border-radius: 10px;
  position: absolute;
  top: 45%;
  left: 10%;
}
.profile .inner ul {
  position: absolute;
  top: 48%;
  left: 43%;
}
.profile .inner ul li {
  font-size: 15px;
}
.profile .inner ul li .git{
  width: 24px;
  height: 24px;
} */