/* COMMON */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4; /*-- 줄높이 --*/
  font-family: 'Nanum Gothic', sans-serif;
  height: 3000px;
  background-color: 	#d6d6db;
}
a {
  text-decoration: none;
}
.inner { /* inner란 요소를 가운데로 몰아주는 역할을 한다.*/
  width: 1100px;
  margin: 0 auto;
  position: relative; /* inner라는 클래스를 가진 모든 요소는 relative를 가짐으로 따로 추가할 필요가 없다 참고*/
}

/* HEADER */
header {
  width: 100%;
  position: fixed;
  background-color: #74767a;
  /* opacity: 0.5;  */
}
header > .inner {
  height: 50px;
}
header .logo {
  position: absolute;
  top: 19%;
  bottom: 0;
  margin: auto;
  color: black;
  font-weight: 700;
  font-size: 20px;
}
header .main-menu {
  position: absolute;
  top: 10%;
  left: 19%;
}
header .main-menu ul.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .main-menu ul.menu .item {
  position: relative;
}
header .main-menu ul.menu .item::before {
  content: "";
  width: 1px;
  height: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #7c7c7c;
}
header .main-menu ul.menu .item a {
  display: block;
  padding: 11px 50px;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 13px;
}