@import url("https://fonts.googleapis.com/css?family=Ubuntu");

/* COMMON */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4; /*-- 줄높이 --*/
  font-family: "Mukta", sans-serif;
  height: 3000px;
  background-color: #e2e1e0b0;
}
a {
  text-decoration: none;
}
.inner {
  /* inner란 요소를 가운데로 몰아주는 역할을 한다.*/
  width: 1100px;
  margin: 0 auto;
  position: relative; /* inner라는 클래스를 가진 모든 요소는 relative를 가짐으로 따로 추가할 필요가 없다 참고*/
}
a.deco {
  text-decoration: dashed;
}
.maintitle {
  font-weight: 700;
  font-size: 40px;
  font-family: "Mukta", sans-serif;
  color: #3f4165;
}
.subtitle {
  font-size: 14.4px;
  color: #3f4165c2;
}
a {
  text-decoration: none;
}

/*BUTTON*/
.btn {
  width: 200px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: 0.4s;
}
.btn:hover {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}
.btn.btn--brown {
  color: #592b18;
  border-color: #592b18;
}
.btn.btn--brown:hover {
  color: #fff;
  background-color: #592b18;
}
.btn.btn--gold {
  color: #d9aa8a;
  border-color: #d9aa8a;
}
.btn.btn--gold:hover {
  color: #fff;
  background-color: #d9aa8a;
}
.btn.btn--white {
  color: #fff;
  border-color: #fff;
}
.btn.btn--white:hover {
  color: #333;
  background-color: #fff;
}
/*BACK TO POSITION*/
.back-to-position {
  opacity: 0;
  transition: 1s;
}
.back-to-position.to-right {
  transform: translateX(-150px);
}
.back-to-position.to-left {
  transform: translateX(150px);
}
.back-to-position.to-bottom {
  transform: translateY(-150px);
}
.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}
.show .back-to-position.delay-0 {
  transition-delay: 0s;
}
.show .back-to-position.delay-1 {
  transition-delay: 0.3s;
}
.show .back-to-position.delay-2 {
  transition-delay: 0.6s;
}
.show .back-to-position.delay-3 {
  transition-delay: 0.9s;
}

/* HEADER */
header {
  width: 100%;
  position: fixed;
  background-color: #74767a;
  top: 0;
  opacity: 0.5;
  z-index: 9;
}
header > .inner {
  height: 50px;
}
header .logo {
  position: absolute;
  top: 19%;
  bottom: 0;
  margin: auto;
  color: black;
  font-weight: 700;
  font-size: 20px;
}
header .logo:hover {
  color: white;
}
header .main-menu {
  position: absolute;
  top: 10%;
  left: 19%;
}
header .main-menu ul.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .main-menu ul.menu .item {
  position: relative;
}
header .main-menu ul.menu .item::before {
  content: "";
  width: 1px;
  height: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #7c7c7c;
}
header .main-menu ul.menu .item a {
  display: block;
  padding: 11px 50px;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 13px;
}
header .main-menu ul.menu .item a:hover {
  color: white;
}

/* SUMMARY */
.summary {
  margin-top: 50px;
  padding: 90px 0px 0px 0px;
  height: 400px;
}
.summary .inner {
}
.summary .inner .sum {
  position: absolute;
  top: 90px;
  left: 22%;
}
.summary .inner .sum h1 {
  font-size: 40px;
  font-weight: 700;
  display: block;
  margin-left: 200px;
  line-height: 100px;
  color: #3f4165;
}
.summary .inner .sum p {
  font-size: 17.6px;
  color: #3f4165;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  text-align: center;
}
.summary .inner .sum p .front {
  font-weight: 700;
  font-family: "Mukta";
}

/* PROJECT */
.project {
  margin: 50px 50px 50px;
  padding: 100px 12px 0px;
  height: 880px;
}
.project .inner {
  line-height: 50px;
}
.project .inner .list {
  background-color: white;
  width: 100%;
  outline: none;
  border-radius: 2px;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 115px;
  padding: 16px;
}
.project .inner .list table {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  width: 100%;
}
.project .inner .list table th.title {
  padding: 16px 8px;
  font-weight: bold;
  font-size: 15.2px;
  vertical-align: top;
  color: #3f4165c2;
  content: "";
  border-bottom: 0.3px solid #bcbcbc;
  text-align: center;
}
.project .inner .list table th.title.a {
  width: 20%;
}
.project .inner .list table th.title.b {
  width: 60%;
}
.project .inner .list table th.title.c {
  width: 20%;
}
.project .inner .list table tbody th {
  content: "";
  border-bottom: 0.3px solid #bcbcbc;
  border-width: 100%;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  font-family: "Mukta", sans-serif;
  font-size: 16.8px;
}
.project .inner .list table tbody th.table-title {
  color: #3f4169;
  font-size: 16.8px;
  padding: 16px 8px;
}
.project .inner .list table tbody th.table-succes {
  text-align: center;
}
.project .inner .list table tbody th .git-icon img {
  width: 40px;
  height: 40px;
  transition: 0.2s;
}
.project .inner .list table tbody th .git-icon:hover img {
  width: 77px;
  height: 77px;
}
.project .inner .list table tbody td {
  content: "";
  border-bottom: 0.3px solid #bcbcbc;
  border-width: 100%;
  vertical-align: middle;
  font-size: 13.2px;
  padding: 22px 8px;
}
.project .inner .list div.des {
  font-size: 12px;
  vertical-align: middle;
  padding-left: 38%;
  color: #3f4165c2;
}

.project .inner .list table tbody span {
  font-size: 10px;
  font-weight: 400;
  padding: 3.84px 6.8px;
  margin: 0px 0px 3px;
  font-family: "Noto Sans KR";
  color: #fff;
}

/* STACK */
.stack {
  margin: 50px 50px 50px;
  padding: 100px 12px 0px;
  margin-top: 240px;
}
.stack .inner {
  line-height: 50px;
}
.stack .inner .stackwrap {
  width: 100%;
}
.stack .inner .stackwrap > div {
  content: "";
  border-bottom: 1px solid #bcbcbc;
  margin-bottom: 70px;
  align-items: center;
}
.stack .inner .stackwrap p {
  color: #3f4165;
  font-family: "Russo One", sans-serif;
  font-size: 30px;
  text-align: center;
  padding-bottom: 30px;
}
.stack .inner .stackwrap img {
  width: 170px;
  height: 120px;
  padding: 10px;
}
.stack .inner .stackwrap img:hover {
  border-radius: 50px;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.05);
  transition: 0.5s;
}
.stack .inner .stackwrap img.react {
  width: 190px;
  height: 130px;
  margin-left: 15px;
  animation: rotate 3s infinite;
  animation-timing-function: cubic-bezier(1, 1, 1, 1);
}
.stack .inner .stackwrap img.css {
  width: 115px;
  margin-left: 38px;
}
.stack .inner .stackwrap img.cypress {
  width: 250px;
}
.stack .inner .stackwrap img.redux {
  animation: rotate 3s infinite;
  animation-timing-function: cubic-bezier(1, 1, 1, 1);
}
.stack .inner .stackwrap img.next {
  animation: rotate 3s infinite;
  animation-timing-function: cubic-bezier(1, 1, 1, 1);
}
.stack .inner .stackwrap img.apollo {
  margin-left: 30px;
  animation: rotate 3s infinite;
  animation-timing-function: cubic-bezier(1, 1, 1, 1);
}
.stack .inner .stackwrap img.graph {
  animation: rotate 3s infinite;
  animation-timing-function: cubic-bezier(1, 1, 1, 1);
}
.stack .inner .stackwrap img.antd {
  animation: rotate 3s infinite;
  animation-timing-function: cubic-bezier(1, 1, 1, 1);
}
.stack .inner .stackwrap img.script {
  margin-left: 20px;
  width: 150px;
  border-radius: 13px;
}
.stack .inner .stackwrap img.android {
  margin-left: 20px;
}
.stack .inner .stackwrap img.flask {
  margin-left: 47px;
}
.stack .inner .stackwrap img.webpack {
  margin-left: 25px;
  animation: rotate 3s infinite;
  animation-timing-function: cubic-bezier(1, 1, 1, 1);
}
.stack .inner .stackwrap img.sass {
  margin-left: 35px;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
/* .stack .inner .stackwrap .vue {
  padding-top: 20px;
  width: 120px;
  height: 80px;
} */
/* .stack .inner .stackwrap div {
  background-color: red;
  width: 100px;
  height: 100px;
} */

/* .stack .inner ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 24px; */

/* width: 270px;
  height: 192px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.05); */

/* profile */
.profile {
  padding-bottom: 150px;
}
.profile .inner {
  width: 600px;
  height: 333px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  display: flex;
}
.profile .inner .info {
  height: 30px;
  position: absolute;
  top: 10%;
  left: 23%;
  margin: auto;
}
.profile .inner .info h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
}
.profile .inner .info p {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 10px;
  color: #7c7c7c;
  letter-spacing: 12px;
}
.profile .inner .bini {
  width: 140px;
  height: 140px;
  border: 0px solid;
  border-radius: 10px;
  position: absolute;
  top: 45%;
  left: 10%;
}
.profile .inner ul {
  position: absolute;
  top: 48%;
  left: 43%;
}
.profile .inner ul li {
  font-size: 15px;
}
.profile .inner ul li .git {
  width: 24px;
  height: 24px;
}

/* awards */
.awards {
  margin: 40px 20px 50px;
  padding: 90px 12px 0px;
  height: 1200px;
  box-sizing: border-box;
}
.awards .inner {
}
.awards .inner .maintitle {
  margin-bottom: 38px;
  text-align: center;
}
.awards .inner .content {
  height: 880px;
  border-radius: 10px;
}
.awards .inner .content img {
  width: 390px;
  height: 400px;
  margin-left: 20px;
  margin-top: 20px;
  vertical-align: middle;
  border-radius: 30px;
}
.awards .inner .content .system {
  width: 650px;
  height: 400px;
}
.awards .inner .content .awards-content {
  margin-top: 30px;
  width: 100%;
  height: 250px;
  /* background-color: #fff; */
  margin-left: 20px;
  font-size: 20px;
  text-align: center;
  /* font-family: "Nanum Gothic", sans-serif; */
  font-family: "Ubuntu", sans-serif;
  position: relative;
}
.awards .inner .content .awards-content h1 {
  font-size: 40px;
  font-weight: bold;
  color: #3f4165c2;
  position: absolute;
  left: 470px;
  /* text-shadow: 0 2px 2px #ff0000, -2px 5px 0 #ff7f00, -4px 10px 0 #ffff00,
    -8px 15px 0 #00ff00, -12px 20px 0 #0000ff, -16px 25px 0 #4b0082,
    -20px 30px 0 #9400d3; */
}
.awards .inner .content .awards-content p.ry {
  font-size: 25px;
  font-weight: bold;
  color: pink;
  position: absolute;
  left: 20px;
  top: 50px;
  text-shadow: 20px 10px 0px #ff99cc, -15px -6px 0px #64a5b7;
}
.awards .inner .content .awards-content p.py {
  font-size: 45px;
  font-weight: bold;
  color: #4a5ae9;
  position: absolute;
  left: 100px;
  top: 180px;
  text-shadow: 0 1px 2px #c48564, 1px 3px 1px #c07d59, 2px 5px 1px #4b66df,
    4px 7px 1px #a6633f, 6px 9px 1px #4979df, 8px 11px 1px #4533e7,
    10px 13px 1px #6f422a, 12px 15px 1px #845ae4, 14px 17px 1px #2956eb;
}
.awards .inner .content .awards-content p.an {
  font-size: 35px;
  font-weight: bold;
  color: green;
  position: absolute;
  left: 180px;
  top: 100px;
}
.awards .inner .content .awards-content a.j {
  position: absolute;
  left: 460px;
  top: 110px;
}
.awards .inner .content .awards-content p.info {
  font-size: 25px;
  font-weight: bold;
  color: green;
  position: absolute;
  left: 600px;
  top: 10px;
}
.awards .inner .content .awards-content p.li {
  font-size: 30px;
  font-weight: bold;
  color: black;
  position: absolute;
  left: 300px;
  top: 300px;
}
.awards .inner .content .awards-content p.fl {
  font-size: 35px;
  font-weight: bold;
  color: black;
  position: absolute;
  left: 600px;
  top: 300px;
}
.awards .inner .content .awards-content p.d {
  font-size: 25px;
  font-weight: bold;
  color: #fffb8c;
  position: absolute;
  left: 800px;
  top: 250px;
}
.awards .inner .content .awards-content p.my {
  font-size: 30px;
  font-weight: bold;
  color: #496899;
  position: absolute;
  left: 900px;
  top: 100px;
}
.awards .inner .content .awards-content p.ja {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  left: 400px;
  top: 200px;
  color: #997249;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}
/* .awards .inner .content .system:hover {
  width: 350px;
  height: 200px;
} */
/* slide */
